<h2>Sign in for today's number</h2>
<%= form_for @user_session do |f| %>
	<%= f.label :email, 'Email:' %>
	<%= f.text_field :email, :class => 'user_input' %>
	<%= f.label :password, 'Password:' %>
	<%= f.password_field :password, :class => 'user_input' %>
	<%= f.submit 'Sign In', :class => 'user_submit' %>
	
	<% if @user_session.errors.count > 0 %>
		<div class="notice"><%= @user_session.errors.full_messages.join(", ") %></div>
	<% end %>
	
<% end %>

<h1><a href="/">RandoNum</a></h1>