<!-- <h2>Sign in for today's number</h2>
<%= form_for @user_session do |f| %>
	<%= f.label :email, 'email:' %>
	<%= f.text_field :email, :class => 'user_input' %>
	<%= f.label :password, 'password:' %>
	<%= f.password_field :password, :class => 'user_input' %>
	<%= f.submit 'Sign In', :class => 'user_submit' %>
	
	<% if notice %>
		<div class="notice"><%= notice %></div>
	<% end %>
	
<% end %> -->

<h2>Sign up for daily numbers</h2>
<%= form_for @user do |f| %>
	<%= f.label :email, 'email:' %>
	<%= f.text_field :email, :class => 'user_input' %>
	<%= f.label :password, 'password:' %>
	<%= f.password_field :password, :class => 'user_input' %>
	<%= f.submit 'Sign Up', :class => 'user_submit' %>
	
	<% if notice %>
		<div class="notice"><%= notice %></div>
	<% end %>
	
<% end %>

<h1><a href="/">RandoNum</a></h1>