<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>RandoNum</title>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Cabin+Sketch:700", "application" %>
=======
  <title>The place to get your daily number - RandoNum</title>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Cabin+Sketch:700|Hammersmith+One", "application" %>
>>>>>>> 329a9e117cb9157530a92682e29efeb6330586e9
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<header>
		<% if !session[:uid].blank? %>
			<a href="/signout">Sign Out</a>
		<% elsif controller_name == "user_sessions" %>
			<a href="/">Sign Up</a>
		<% else %>
			<a href="/signin">Sign In</a>
		<% end %>
	</header>
	<%= yield %>

</body>
</html>
